<!DOCTYPE html>
  <html>
  <head>
    <title>Help Page</title>
  </head>
  <body>
    {{> header}}
    <p>dummy text</p>

    {{> footer}}
  </body>
  </html>


  https://hris-prd.kp.org/psc/hrisprd/EMPLOYEE/HRMS/c/ROLE_MANAGER.EP_CURRENT_MY_PRF.GBL?FolderPath=PORTAL_ROOT_OBJECT.CO_MANAGER_SELF_SERVICE.HC_MGR_PERFORMANCE_MGMT.HC_EP_MY_PRF_DOCS_MGR_GBL.HC_EP_CURRENT_MY_PRF_MGR_GBL&IsFolder=false&IgnoreParamTempl=FolderPath%2cIsFolder&year=2018&doctype=NATL&activity=08
